
.navbar{
  background-color: #e3f2fd;
}

.centered {
    /* padding-top: 200px; */
    margin-top: 3%;
    text-align: center;
}

.card-centered {
    /* padding-top: 200px; */
    margin-top: 10px;
    text-align: center;
}

.outletName{
  color: black;
  font-size: 2.5em;
}

.card-home{
  background-color: #111;
  margin-top: 50px;
  /* width: 50%; */
}

.menu-card{
  background-color: #e0e0e0;
  /* width: 60%; */
}

.cart-card{
  background-color: #f7f7f7;
  /* width: 60%; */
}


.card-title{
  font-size: 2rem;
  color: White;
}
body {
  font-family: "Lato", sans-serif;
  transition: background-color .5s;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.sidenav .closebtn2 {
  position: absolute;
  top: 0;
  /* right: 25px; */
  font-size: 36px;
  color: #818181;
  /* margin-left: 50px; */
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


.menu-q input{
  position: absolute;
  left: 70%;
}
.menu-q{
  margin-top: 10px;
  margin-bottom: 30px;
}

.del-bt{
  margin-left: 10%;
}

.quan{
  margin-left: 3%;
  margin-right: 3%;
}

.num-in{
  position: absolute;
  right: 50%;
}
.price{
  position: absolute;
  right: 30%;
}

.qpm{
  display: inline-block;
  width: 68%;
  position: absolute;
  left: 35%;
  margin-left: 0;
  margin-right: 0;
}
