<%- include('partials/landing-header') %>


<div class="jumbotron centered">
  <div class="container">
    <h1 class="display-3">Food Ordering Thing</h1>
    <p class="lead">Login to start ordering</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/signup" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
