<%- include("partials/header") -%>

<div class="landing-align-contact">
  
    <div class="container centered contact-desc">
        <h3>About Us</h3>
        <p class="description">An e-commerce food delivery progressive web app made using Node.js, Express.js and EJS for the students of Manipal University Jaipur and the surrounding restaurants to make the delivery and purchase of food more efficient for the students and the restaurant. <br> With separate dedicated portals for the customer and restaurant, smooth, user-friendly, mobile optimized UI and a robust, efficient backend, FoodEx offers a plethora of functionality across the platform to ensure a smooth, seamless and rich user experience. </p>
      </div>
  
  </div>

<%- include("partials/footer") -%>
