<%- include("partials/header") -%>

<h2>Sorry!, Your cart already has items from a different Outlet.</h2>

<h3>Go to cart</h3>
<a class="btn btn-outline-info" href="/home/cart">Cart</a>

<%- include('partials/footer') -%>
