<%- include("partials/header") -%>

<div class="landing-align-contact">
  
    <div class="container centered contact-desc">
        <h3>Contact Us</h3>
        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia vero adipisci aliquam voluptas omnis hic labore nihil consequatur. Facilis accusamus cumque fuga nostrum delectus ipsa. Earum voluptates repudiandae aspernatur magni.</p>
      </div>
  
  </div>

<%- include("partials/footer") -%>
