<%- include('partials/landing-header') %>

<div class="landing-align">
  <div class="centered">
    <div class="container landing-desc">
      <h1 class="display-3">FoodEx</h1>
      <p class="lead">Login to start ordering!</p>
      <hr>
      <a class="btn btn-light btn-lg" href="/signup" role="button">Register</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    </div>
  </div>

  <div class="container centered landing-desc">
      <h3>What is FoodEx?</h3>
      <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia vero adipisci aliquam voluptas omnis hic labore nihil consequatur. Facilis accusamus cumque fuga nostrum delectus ipsa. Earum voluptates repudiandae aspernatur magni.</p>
    </div>

</div>

<%- include('partials/footer') %>
