<%- include('partials/landing-header') %>

<div class="landing-align">
  <div class="centered">
    <div class="container landing-desc">
      <h1 class="display-3">FoodEx</h1>
      <p class="lead">Login to start ordering!</p>
      <hr>
      <a class="btn btn-light btn-lg" href="/signup" role="button">Register</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    </div>
  </div>

  <div class="container centered landing-desc">
      <h3>What is FoodEx?</h3>
      <p class="description">An e-commerce food delivery progressive web app made using Node.js, Express.js and EJS for the students of Manipal University Jaipur and the surrounding restaurants to make the delivery and purchase of food more efficient for the students and the restaurant. <br> With separate dedicated portals for the customer and restaurant, smooth, user-friendly, mobile optimized UI and a robust, efficient backend, FoodEx offers a plethora of functionality across the platform to ensure a smooth, seamless and rich user experience. <br> Feel free to register and check the website out, or use the following temporary credentials to login and quickly browse through! <br> Email: <strong>26amitdethe@gmail.com</strong> <br> Password: <strong>test</strong>  
      </p>
    </div>

</div>

<%- include('partials/footer') %>
