<%- include('partials/landing-header') %>



<div class="container centered landing-desc-login landing-align">
  <div class="auth-card">
    <h1>Register</h1>

    <!-- Makes POST request to /login route -->
    <form action="/signup" method="POST">
      <div class="form-group">
        <!-- <label for="email">Email</label> -->
        <input type="email" class="form-control" name="username" placeholder="Email">
      </div>
      <div class="form-group">
        <!-- <label for="password">Password</label> -->
        <input type="password" class="form-control" name="password" placeholder="Password">
      </div>
      <div class="form-group">
        <!-- <label for="name">Full Name</label> -->
        <input type="text" class="form-control" name="name" placeholder="Full Name">
      </div>
      <div class="form-group">
        <!-- <label for="block">Block</label> -->
        <select class="custom-select" id="block" name="block" >
          <option value="">--- Select Block ---</option>
          <option value="B1">B1</option>
          <option value="B2">B2</option>
          <option value="B3">B3</option>
          <option value="B4">B4</option>
          <option value="B5">B5</option>
          <option value="B6">B6</option>
          <option value="B7">B7</option>
          <option value="G1">G1</option>
          <option value="G2">G2</option>
          <option value="G3">G3</option>
          <option value="G4">G4</option>
        </select>
      </div>
      <div class="form-group">
        <!-- <label for="room">Room</label> -->
        <input type="text" class="form-control" name="room" placeholder="Room Number">
      </div>
      <div class="form-group">
        <!-- <label for="phone">Phone Number</label> -->
        <input type="text" class="form-control" name="phone" placeholder="Phone Number">
      </div>
      <button type="submit" class="btn btn-dark">Register</button>
    </form>

  </div>
</div>

<%- include('partials/footer') %>
