<%- include('partials/landing-header') %>


<div class="centered">
  <div class="container">
    <h1 class="display-3">FoodEx</h1>
    <p class="lead">  OUTLET LOGIN  </p>
    <hr>
    <a class="btn btn-light btn-lg" href="/signup" role="button">Outlet Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Outlet Login</a>
  </div>
</div>

<%- include('partials/footer') %>
